Proximus-2.0-master/ProximusTomorrow/ProximusTomorrow-locationclient/xml-resources/web-service-references/LatitudeLongitudeServices/wsdl/LatitudeLongitudeServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.portico.locaid.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.portico.locaid.net/" name="LatitudeLongitudeServices">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.portico.locaid.net/" schemaLocation="https://ws.LOC-AID.net:443/webservice/LatitudeLongitudeServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getLocation">
<part name="parameters" element="tns:getLocation"></part>
</message>
<message name="getLocationResponse">
<part name="parameters" element="tns:getLocationResponse"></part>
</message>
<message name="SOAPException">
<part name="fault" element="tns:SOAPException"></part>
</message>
<message name="getLocationMLP">
<part name="parameters" element="tns:getLocationMLP"></part>
</message>
<message name="getLocationMLPResponse">
<part name="parameters" element="tns:getLocationMLPResponse"></part>
</message>
<message name="getLocationsMLP">
<part name="parameters" element="tns:getLocationsMLP"></part>
</message>
<message name="getLocationsMLPResponse">
<part name="parameters" element="tns:getLocationsMLPResponse"></part>
</message>
<message name="getLocationsAnswer">
<part name="parameters" element="tns:getLocationsAnswer"></part>
</message>
<message name="getLocationsAnswerResponse">
<part name="parameters" element="tns:getLocationsAnswerResponse"></part>
</message>
<message name="getLocationsAnswerMLP">
<part name="parameters" element="tns:getLocationsAnswerMLP"></part>
</message>
<message name="getLocationsAnswerMLPResponse">
<part name="parameters" element="tns:getLocationsAnswerMLPResponse"></part>
</message>
<message name="getLocations">
<part name="parameters" element="tns:getLocations"></part>
</message>
<message name="getLocationsResponse">
<part name="parameters" element="tns:getLocationsResponse"></part>
</message>
<message name="getLocationsX">
<part name="parameters" element="tns:getLocationsX"></part>
</message>
<message name="getLocationsXResponse">
<part name="parameters" element="tns:getLocationsXResponse"></part>
</message>
<portType name="LatitudeLongitudeServices">
<operation name="getLocation">
<input message="tns:getLocation"></input>
<output message="tns:getLocationResponse"></output>
<fault message="tns:SOAPException" name="SOAPException"></fault>
</operation>
<operation name="getLocationMLP">
<input message="tns:getLocationMLP"></input>
<output message="tns:getLocationMLPResponse"></output>
<fault message="tns:SOAPException" name="SOAPException"></fault>
</operation>
<operation name="getLocationsMLP">
<input message="tns:getLocationsMLP"></input>
<output message="tns:getLocationsMLPResponse"></output>
<fault message="tns:SOAPException" name="SOAPException"></fault>
</operation>
<operation name="getLocationsAnswer">
<input message="tns:getLocationsAnswer"></input>
<output message="tns:getLocationsAnswerResponse"></output>
</operation>
<operation name="getLocationsAnswerMLP">
<input message="tns:getLocationsAnswerMLP"></input>
<output message="tns:getLocationsAnswerMLPResponse"></output>
<fault message="tns:SOAPException" name="SOAPException"></fault>
</operation>
<operation name="getLocations">
<input message="tns:getLocations"></input>
<output message="tns:getLocationsResponse"></output>
<fault message="tns:SOAPException" name="SOAPException"></fault>
</operation>
<operation name="getLocationsX">
<input message="tns:getLocationsX"></input>
<output message="tns:getLocationsXResponse"></output>
</operation>
</portType>
<binding name="LatitudeLongitudeServicesPortBinding" type="tns:LatitudeLongitudeServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getLocation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getLocationMLP">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getLocationsMLP">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getLocationsAnswer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLocationsAnswerMLP">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getLocations">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SOAPException">
<soap:fault name="SOAPException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getLocationsX">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="LatitudeLongitudeServices">
<port name="LatitudeLongitudeServicesPort" binding="tns:LatitudeLongitudeServicesPortBinding">
<soap:address location="https://ws.LOC-AID.net:443/webservice/LatitudeLongitudeServices"></soap:address>
</port>
</service>
</definitions>