Proximus-2.0-master/ProximusTomorrow/ProximusTomorrow-registrationclient/src/META-INF/wsdl/ws.loc-aid.net/webservice/RegistrationServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.portico.locaid.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.portico.locaid.net/" name="RegistrationServices">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.portico.locaid.net/" schemaLocation="https://ws.loc-aid.net:443/webservice/RegistrationServices?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="subscribePhone">
<part name="parameters" element="tns:subscribePhone"></part>
</message>
<message name="subscribePhoneResponse">
<part name="parameters" element="tns:subscribePhoneResponse"></part>
</message>
<message name="getPhoneStatus">
<part name="parameters" element="tns:getPhoneStatus"></part>
</message>
<message name="getPhoneStatusResponse">
<part name="parameters" element="tns:getPhoneStatusResponse"></part>
</message>
<message name="subscribePhoneAll">
<part name="parameters" element="tns:subscribePhoneAll"></part>
</message>
<message name="subscribePhoneAllResponse">
<part name="parameters" element="tns:subscribePhoneAllResponse"></part>
</message>
<portType name="RegistrationServices">
<operation name="subscribePhone">
<input message="tns:subscribePhone"></input>
<output message="tns:subscribePhoneResponse"></output>
</operation>
<operation name="getPhoneStatus">
<input message="tns:getPhoneStatus"></input>
<output message="tns:getPhoneStatusResponse"></output>
</operation>
<operation name="subscribePhoneAll">
<input message="tns:subscribePhoneAll"></input>
<output message="tns:subscribePhoneAllResponse"></output>
</operation>
</portType>
<binding name="RegistrationServicesPortBinding" type="tns:RegistrationServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="subscribePhone">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPhoneStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="subscribePhoneAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RegistrationServices">
<port name="RegistrationServicesPort" binding="tns:RegistrationServicesPortBinding">
<soap:address location="https://ws.loc-aid.net:443/webservice/RegistrationServices"></soap:address>
</port>
</service>
</definitions>